<ul class="blogroll">
  {{ if .Get "name" }}
    {{ $name := .Get "name" }}
    {{ $filename := (replace $name " " "-") | lower }}
    {{ with index $.Site.Data.blogrolls $filename }}
      {{ range . }}
        <li><a href="{{ .url }}">{{ .name }}: <span>{{ (urls.Parse .url).Hostname }}</span></a></li>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range .Site.Data.blogrolls.recommendations }}
      <li><a href="{{ .url }}">{{ .name }}: <span>{{ (urls.Parse .url).Hostname }}</span></a></li>
    {{ end }}
  {{ end }}
</ul>
